@import "tailwindcss";

:root {
  --background: #0a0a0a;
}

body {
  background: var(--background);
  color: white;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

/* Fix para que el mapa se vea */
.leaflet-container {
  width: 100%;
  height: 50vh;
  border-radius: 1.5rem;
  background: #000 !important;
  z-index: 1;
}

.leaflet-popup-content-wrapper {
  background: #111 !important;
  color: #fff !important;
  border: 1px solid #8162f3;
}

.leaflet-popup-content-wrapper {
  overflow: visible !important;
}

.leaflet-popup-content {
  width: auto !important;
  margin: 12px !important;
}